/* header & navigation  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 90%;
  margin-left: 4.8rem;
  margin-right: 4.8rem;
  padding-top: 1.6rem;
}

.logo {
  height: 4.2rem;
}

.india-logo {
  height: 3.2rem;
  display: flex;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  text-decoration: none;
}

.main-nav-link:link,
.main-nav-link:visited,
.bar {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.8rem;
  transition: all 0.3s;
}
/* --------------------------------------------- */
/* HERO SECTION  */

.section-hero {
  background-image: url(//img/hero.png);
  position: relative;
}

.hero-img {
  width: 100%;
  margin-bottom: 3.6rem;
}

.hero {
  margin: 0 auto;
  padding: 0 0;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center; */
}

.main-text {
  color: white;
  position: absolute;
  top: 25rem;
  display: grid;
  grid-template-columns: 10fr 80fr 10fr;
}

.center-text {
  display: flex;
  flex-direction: column;
}

.big-text {
  font-size: 8rem;
  font-weight: 700rem;
  /* color: red; */
  width: 75%;
  line-height: 8.4rem;
  margin-bottom: 1.6rem;
}

.small-text {
  color: #ffffff;
  font-size: 1.6rem;
  width: 65%;
  margin-bottom: 1.6rem;
}

.read-more {
  width: 15%;
  height: 5rem;
  border-radius: 4.4rem;
  background-color: #6090d8;
  font-weight: 500;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  outline: inherit;
  border: none;
}
/* ----------------------------------------------------- */

/* Trusted By */

.image-trusted-by {
  width: 100%;
  /* height:auto; */
  padding: 0 32rem;
  margin-bottom: 2.8rem;
}

/* ----------------------------------------------------------- */
/* About  */
.section-about {
  display: grid;
  grid-template-columns: 50fr 50fr;
  background-color: #d1e8e6;
  width: 100%;
  
}

.about-image {
  width: 100%;
  height: auto;
}
.about-text-container {
  padding: 20rem 10rem;
}

.about-text {
  font-size: 4.4rem;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 1.6rem;
}

.about-paragraph {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0.8rem;
  color: #8e8b8b;
}
.about-read-more {
  width: 40%;
  height: 5rem;
  border-radius: 4.4rem;
  background-color: #6090d8;
  font-weight: 500;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  outline: inherit;
  text-align: center;
  border: none;
}
